
<div class="page">
  <section class="card">
    <div class="card-header">
      NgChat
    </div>
    <div class="card-body">
      <ng-container *ngFor="let comment of comments">
      <div class="media">
        <div class="media-left">
          <a href="#" class="icon-rounded">S</a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{comment.name}} Date:2016/09/01</h4>
          <div>{{comment.content}}</div>
        </div>
      </div>
      <hr>
      </ng-container>

      

      <div class="media">
        <div class="media-body">
          <h4 class="media-heading">Tanaka Jiro Date:2016/09/01</h4>
          <!---
          <div>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</div>
          -->
          <div *ngFor="let com of comments">{{com.name}},{{com.content}}</div><!--contentに変更-->
        </div>

        <div class="media-right">
          <a href="#" class="icon-rounded">T</a>
        </div>
      </div>
    </div>
  </section>

  <section>
    <form class="chart-form">
      <div class="input-group">
        <input type="text" 
              class="form-control"
              [(ngModel)]="content"
              name="comment"
              placeholder="Comment">
        <div class="input-group-append">
          <button class="btn btn-info" type="button">SEND</button>
        </div>
      </div>
    </form>
  </section>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

<div class="content" role="main">
  <div class="mb-2">
    <button class="btn btn-primary">Test Button</button>
  </div>
</div>

<router-outlet></router-outlet>

   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
