
<div class="page">
  <section class="card">
    <div class="card-header">
      NgChat
    </div>
    <div class="card-body">
      <ng-container *ngFor="let comment of comments">
      <div class="media">
        <!--***CURRENT_USERではない場合***************************-->
        <div class="media-left" *ngIf="comment.user.uid !== currentUser.uid">
          <a href="#" class="icon-rounded">{{comment.initial}}</a>
        </div>
        <div class="media-body">
          <h4 class="media-heading">{{comment.user.name}} Date:{{comment.date|chatDate}}</h4>
          <div>{{comment.content}}</div>
        </div>
        <!--***ANOTHER_USERではない場合***************************-->
        <div class="media-right" *ngIf="comment.user.uid == currentUser.uid">
          <a href="#" class="icon-rounded">{{comment.initial}}</a>
        </div>
      </div>
      <hr>
      </ng-container>
      
      <div class = "media">
        <div class = "media-left">
          <a href="#" class = "icon-rounded">{{(item | async)?.inisial</a>
        </div>
        <div class="media">
          <div class="media-body">
            <h4 class="media-heading">{{(item | async)?.user.name}}</h4>
            <div>{{(item | async)?.content}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <form class="chart-form" (submit)="addComment(content)">
      <div class="input-group">
        <input type="text" 
              class="form-control"
              [(ngModel)]="content"
              name="comment"
              placeholder="Comment" />
        <div class="input-group-append">
          <button class="btn btn-info" type="submit">SEND</button>
        </div>
      </div>
    </form>
  </section>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * 

<div class="content" role="main">
  <div class="mb-2">
    <button class="btn btn-primary">Test Button</button>
  </div>
</div>

<router-outlet></router-outlet>

   * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
